<nav>
  <ul>
    <a href='/productos'>Productos</a>
  </ul>
  <ul>
    <a href='/carrito'>Carrito</a>
  </ul>
  <ul>
    <a href='/chat'>Chat</a>
  </ul>
  <ul>
    <a href='/info'>Configuración</a>
  </ul>
  <ul>
    <a href='/logout'>Logout</a>
  </ul>
</nav>
<h1>Cart</h1>

<div id='cart__container'>
</div>
<script src='/public/js/cart.js'></script>